{% extends "__base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div  class="row justify-content-center align-items-center">
    <div class="col-6 text-left">

      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-sm">
        {% trans 'Sign Out' %}
        </button>
      </form>

    </div><!-- /.col-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock content %}
