{% extends "__base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div  class="row justify-content-center align-items-center">
    <div class="col-6 text-left">

      <h1>{% trans "Change Password" %}</h1>

      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" name="action" class="btn btn-primary btn-sm">{% trans "Change Password" %}</button>
      </form>

    </div><!-- /.col-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock content %}
