{% extends "__base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div  class="row justify-content-center align-items-center">
    <div class="col-6 text-left">

      <h1>{% trans "Profile" %}</h1>

      Will contain User Profile info, such as:

      <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>

    </div><!-- /.col-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock content %}
