{% extends "__base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div  class="row justify-content-center align-items-center">
    <div class="col-6 text-left">

      <h1>{% trans "Sign Up" %}</h1>

      <p>
        {% blocktrans %}
        Already have an account? Then please
        <a href="{{ login_url }}">sign in</a>.
        {% endblocktrans %}
      </p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary btn-sm">
        {% trans "Sign Up" %} &raquo;
        </button>
      </form>

    </div><!-- /.col-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock content %}
