{% extends "__base.html" %}

{% block html_class %}{{article.status}}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block body_class %}{{article.status}}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row page">
    <div class="col-sm-8">

      <h1 class="title">{{ page.title }}</h1>

      {% autoescape off %}
        <div>{{ page.content }}</div>
      {% endautoescape %}
    </div><!-- /.col-sm-8 -->

    <div id="sidebar1" class="col-sm-4">

    {% if highlights %}
    <h2 class="related_heading">Featured Articles</h2>

    <ul class="other_stories">
      {% for feature in highlights %}
      <li><a href="{{ feature.get_absolute_url }}">{{ feature.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    </div><!-- /.col-sm-4 -->

  </div><!-- /.row -->
</div><!-- /.container-fluid -->

{% endblock %}
