{% extends "__base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'dist/bookings.css' %}"  />
{% endblock head_extra %}

{% block body_class %}content {{page.status}}{% endblock %}
{% block content %}
<div class="container-fluid">
  <div  class="row">
    <div class="col-9 text-left">

      <h1>Bookings</h1>

      <div id="app_node_bookings" class="row"></div>
      <ul class="bookings">
      {% for booking in bookings %}
        <li>
          {{ booking }}
        </li>
      {% endfor %}
      </ul>
    </div><!-- /.col-8 -->

    <div id="sidebarR" class="col-sm-3">

      <h2 class="featured_heading">Featured ...</h2>

    </div><!-- /.col-sm-4 -->

  </div><!-- ./row -->
</div><!-- /.container -->
{% endblock content %}

{% block bottom %}
<script src="{% static 'dist/bookings.js' %}"></script>
{% endblock %}
