{% load static %}

<!doctype html>
<!--[if IE 8]>               <html class="no-js lt-ie9" lang="en" > <![endif]-->
<html class="no-js {% block html_class %}{% endblock%}" lang="en" >
<head>
  <meta charset="utf-8" />

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <title>Where2Stay {% block title %}{% endblock %}</title>

  <link rel="canonical" href="http://{{request.get_host}}{{request.get_full_path}}" />
  <link rel="author" href="/humans.txt" />

  <meta name="description" content="{% block meta_description %}{% endblock %}" />
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />

  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

  {% comment %}
  {% endcomment %}
  <link rel="stylesheet" href="{% static 'dist/vendor.css' %}"  />
  <link rel="stylesheet" href="{% static 'dist/where2stay.css' %}"  />

{% block head_extra %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

<!-- Header and Nav -->
{% include "_header.html" %}
<!-- /Header and Nav -->


<div class="outer-content-well">
  {% block content %}{% endblock %}
</div>

<div class="container-fluid">
    {% include "_footer.html" %}
</div>

<script src="{% static 'dist/vendor.js' %}"></script>
<script src="{% static 'dist/where2stay.js' %}"></script>

{% block bottom %}{% endblock %}

</body>
</html>
