{% load static %}

<div class="row footer">
    <div class="col-12">
      <div class="copyright mx-auto text-center">
        Unless otherwise stated, all content on Where2Stay.org is licensed under a Creative Commons<br/>
        Attribution-Noncommercial-No Derivative Works 3.0 Unported License.

      </div><!-- /.copyright -->

      <div class="humans-logo mx-auto text-center" style="width: 50%">
        <a href="/humans.txt">
         <img src="{% static 'img/humanstxt-isolated-blank.gif' %}" border="0" alt="humanstxt.org" />
        </a>
      </div>

    </div><!-- /.col-12 -->

</div><!-- /.row -->
