{% load static %}
{% load account %}
<!-- Navigation -->
<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Where2Stay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item auth-links">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'account_profile' %}">
            {% if user.first_name %}
              {{ user.first_name }}
            {% else %}
              {% user_display user %}
            {% endif %}
            </a> |
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          {% else %}
            <a class="nav-link" href="{% url 'account_login' %}">Log In </a> |
            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
