{% extends "__base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}

{# Google strucutured data #}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://{{request.get_host}}",
    "logo": "http://{{request.get_host}}{% static 'img/logo_40x40.png' %}"
  }
  </script>

<!-- Google Sitelinks Search Box -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "http://{{request.get_host}}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://{{request.get_host}}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
<!-- /Google Sitelinks -->

  <meta property="fb:app_id" content="" />
  <meta property="og:title" content="Where2Stay" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{request.get_host}}" />
  <meta property="og:site_name" content="Where2Stay" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="http://{{request.get_host}}{% static 'img/where2stay_400x400.jpg' %}" />

  <link rel="stylesheet" href="{% static 'dist/homepage.css' %}"  />

{% endblock head_extra %}

<body {% block body_class %}homepage{% endblock %}>

  {% block content %}
  <div class="container-fluid d-flex flex-column" style="height: 600px;">
    <div class="row justify-content-center align-items-center">
      <div class="col-9">
            <div id="app_node" class="row"></div>
          <!-- {{ form|crispy }} -->
      </div>
    </div><!-- /.row -->


  </div><!-- /.container-fluid -->
  {% endblock content %}

{% block bottom %}
<script src="{% static 'dist/homepage.js' %}"></script>
{% endblock %}
