{% extends "__base.html" %}
{% load static humanize %}

{% block title %}{{ title }}{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'dist/listings.css' %}"  />
{% endblock head_extra %}

{% block body_class %}content {{page.status}}{% endblock %}
{% block content %}

<div class="container-fluid">

  <div id="app_node_listings" class="row"></div>

</div><!-- /.container -->

{% endblock content %}

{% block bottom %}
<script type="text/javascript">
  window.listings_query = {
    "destination": '{{ destination }}',
    "start_date": '{{ startDateStr }}',
    "end_date": '{{ endDateStr }}',
    "number_of_adults": {{ bookAdults }},
    "number_of_children": {{ bookChildren }},
    "number_of_rooms": {{ bookRooms }},
  }
</script>
<script src="{% static 'dist/listings.js' %}"></script>
{% endblock %}
