{% extends "__base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static 'dist/listings.css' %}"  />
{% endblock head_extra %}

{% block body_class %}content {{page.status}}{% endblock %}
{% block content %}

<div class="container-fluid">
  <div  class="row">
    <div class="col-9 text-left">

      <h1>Listing (Single)</h1>

      <div id="app_node_listings" class="row"></div>

        {{ listing }}</a>

    </div><!-- /.col-8 -->

    <div id="sidebarR" class="col-sm-3">

      <h2 class="featured_heading">Featured ...</h2>

    </div><!-- /.col-sm-4 -->

  </div><!-- ./row -->
</div><!-- /.container -->

{% endblock content %}

{% block bottom %}
<script src="{% static 'dist/listings.js' %}"></script>
{% endblock %}
