#app_node
    position relative
    top 25px
    padding 2px
    color #fff
    height 42px
    background ivory
    border-radius: 3px

    form
        input, select
            padding 0
            margin 0
            font-size inherit
            border-width 0
        button
            margin 6px

        .query-panel, .react-datepicker-wrapper, .date-range-divider
            float left
            background #fff
            height 38px
            color #000
            margin 0 5px
            padding 0
            display inline

            &.start-date, &.end-date
                width 108px
                padding 6px
                border: 1px solid #dbdbdb
                border-radius: 4px
                min-width 108px

            &.date-range-divider
                padding: 8px 0;

            &.destination
                border: 1px solid #dbdbdb
                border-radius: 4px

            &.adults
                min-width 120px

            &.children
                min-width 130px

            &.rooms
                min-width 120px

        .error-message
            position absolute
            top 51px
            left 20%


    /*
    .DateInput
    */
