/* homepage syles */

body.homepage
  background: url('../img/world_map.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
