/* navbar styles */

nav
  li.nav-item
    a.nav-link
      display: inline
    &.auth-links
      font-size: .8em
      margin: 3px 0 3px 3px
      a.nav-link
        padding 0
        color: #cd8e60
