/*** styles for listings ***/
body
  color: navy

  h2.filters_heading
    font-size 1.5em
    text-align left

  #app_node_listings
    margin 15px

    ul
      padding 0
      li.filters-checkbox
        list-style none
        font-size .8em
        input
          margin-right 5px

    .listings
      h2
        font-size 2em
      list-style none
      padding 0
      div.listing
        border 1px solid grey
        margin-bottom 10px
        padding 10px
        a
          font-size 1.5em
        .listing-photo
          margin-right 10px
          display inline
        ul
          list-style none
          li
            svg.react-icons
              margin-right 10px
            svg.facheck
              fill: green
              stroke: green
            svg.fatimes
              fill: #c00
              stroke: #c00

            .field, .value
              display inline

            .field
              display inline-block
              font-weight bold
              text-align right
              margin-right 5px
              width 200px

            .value
              text-align left

            &.amenities
              margin 10px
              font-weight bold

            &.amenities-item
              margin-left 25px
              font-size .8em

l1.amenities-item

  svg.facheck
    fill: green
    stroke: green
  svg.fatimes
    fill: #c00
    stroke: #c00

svg.iconic-sm
  margin-right 10px
svg.iconic-circle-check
  fill: green
  stroke: green

svg.iconic-circle-x
  fill: #c00
  stroke: #c00

svg.iconic-home
  fill purple
  stroke purple

svg.iconic-basket
  fill blue
  stroke red
  accent red
