$font-path = '../fonts/Catull.woff'

@font-face {
    font-family: 'Catull Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Catull Regular'), url($font-path) format('woff');
}

$font-page-title = 'Catull Regular'

$light-red = #ffaeaf
$dark-red = #8c0000

@import '_header'
@import '_footer'
@import '_homepage'
@import '_navbar'
@import '_App'

