{% extends '__base.html' %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
  <div  class="row justify-content-center align-items-center">
    <div class="col-6 text-left">
    	{% trans 'Thanks, your reservation was processed successfully' %}
		</div>
	</div>
</div>
{% endblock content %}
